#calculator{
    background-color: white;
    border-radius: 15px 15px 130px 15px;
    margin-top: 200px;
    padding: 30px;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.error{
    border-color: red;
}